@font-face {
  font-family: animals;
  src: url(../fonts/AnimaliaScissored.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.card {
  width: 100px;
  height: 100px;
  position: absolute;
  padding: 10px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Athiti", sans-serif;
  box-shadow: rgb(77, 38, 69) 0px 20px 30px -10px;
  cursor: pointer;
  color: transparent;
  background-image: url("../img/africa-bckground.jpg");
  background-size: 100% 100%;
  -webkit-background-clip: text;
}
.card > span {
  font-family: animals;
  font-size: 50px;
  text-transform: none;
}
.projectsCard {
  left: 0;
  top: 0;
  animation: appear 0.3s 1s linear forwards,
    projectsCardMove 1.5s 1.5s ease forwards;
}

.skillsCard {
  right: 0;
  top: 0;
  animation: appear 0.3s 1s linear forwards,
    skillsCardMove 1.5s 1.5s ease forwards;
}

.contactCard {
  right: 0;
  bottom: 0;

  animation: appear 0.3s 1s linear forwards,
    contactCardMove 1.5s 1.5s ease forwards;
}

.githubCard {
  left: 0;
  bottom: 0;

  animation: appear 0.3s 1s linear forwards,
    githubCardMove 1.5s 1.5s ease forwards;
}

@keyframes projectsCardMove {
  0% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  100% {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes skillsCardMove {
  0% {
    top: 0px;
    right: 0;
    transform: translate(0, 0);
  }
  100% {
    top: 28%;
    right: 50%;
    transform: translate(50%, 0);
  }
}

@keyframes contactCardMove {
  0% {
    bottom: 0px;
    right: 0;
    transform: translate(0, 0);
  }
  100% {
    bottom: 28%;
    right: 50%;
    transform: translate(50%, 0);
  }
}

@keyframes githubCardMove {
  0% {
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
  }
  100% {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* width > 450px */
@media only screen and (min-width: 450px) {
  .card {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
  .card > span {
    font-family: animals;
    font-size: 80px;
    text-transform: none;
  }
  .projectsCard {
    left: 0;
    top: 0;
    animation: appear 0.3s 1s linear forwards,
      projectsCardMove450 2s 1.5s linear forwards;
  }
  .skillsCard {
    animation: appear 0.3s 1s linear forwards,
      skillsCardMove450 2s 1.5s linear forwards;
  }

  .contactCard {
    animation: appear 0.3s 1s linear forwards,
      contactCardMove450 2s 1.5s linear forwards;
  }

  .githubCard {
    animation: appear 0.3s 1s linear forwards,
      gitHubCardMove450 2s 1.5s linear forwards;
  }
}
/* width > 450px animations */
@keyframes projectsCardMove450 {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 10%;
    top: 10%;
  }
}
@keyframes skillsCardMove450 {
  0% {
    top: 0;
    right: 0;
  }
  100% {
    top: 10%;
    right: 10%;
  }
}

@keyframes contactCardMove450 {
  0% {
    bottom: 0;
    right: 0;
  }
  100% {
    bottom: 10%;
    right: 10%;
  }
}

@keyframes gitHubCardMove450 {
  0% {
    left: 0;
    bottom: 0;
  }
  100% {
    left: 10%;
    bottom: 10%;
  }
}
