* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: transparent;
  background-image: url("../img/africa-bckground.jpg");
  background-size: 100% 100%;
  -webkit-background-clip: text;
}
